.root {
	/* Define aliases for colors */
	-ps-base-color: #5aaed7;
	-ps-text-color-dark: #0A1E29;
	-ps-text-color: white;

	/* The derive() function changes brightness of a color */
	-ps-control-background-color: derive(-ps-base-color, 120.0%);
	-ps-control-foreground-color: derive(-ps-base-color, 40.0%);

	-fx-background-color: -ps-base-color;
}

.formTitle {
	-fx-font-size: 25.0px;
	-fx-font-weight: bold;
	-fx-alignment: center;
}

.label {
	-fx-text-fill: -ps-text-color;
}

.text-field, .table-view {
	-fx-background-color: -ps-control-background-color;
}

.button {
	-fx-background-color: -ps-control-foreground-color;
	-fx-text-fill: -ps-text-color;
}

.button:hover {
	-fx-text-fill: -ps-text-color-dark;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.table-view .table-cell {
	-fx-text-fill: -ps-text-color-dark;
}

.table-view .table-row-cell {
	-fx-background-color: -ps-control-background-color;
}

.table-view .table-row-cell:selected {
	-fx-background-color: derive(-ps-control-foreground-color, 40.0%);
}

.table-view .column-header, .table-view .filler {
	-fx-background-color: -ps-control-foreground-color;
}

.table-view .column-drag-header {
	-fx-background-color: derive(-ps-control-foreground-color, 40.0%);
}

.table-view .scroll-bar {
	-fx-background-color: -ps-control-background-color;
}

.table-view .scroll-bar .thumb {
	-fx-background-color: -ps-control-foreground-color;
}

.table-view .scroll-bar > .increment-button, .table-view .scroll-bar > .decrement-button {
	-fx-background-color: -ps-control-background-color;
}
